@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
}
:root {
  font-family: "Lexend", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.text-stroke {
  color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}
.bg-radiant-hero {
  background: rgb(51, 204, 208);
  background: radial-gradient(
    circle,
    rgba(51, 204, 208, 1) 0%,
    rgba(130, 255, 232, 1) 67%,
    rgba(130, 255, 232, 1) 100%
  );
}
.bg-radiant-ready {
  background: rgb(255, 250, 130);
  background: radial-gradient(
    circle,
    rgba(255, 250, 130, 1) 39%,
    rgba(255, 152, 130, 1) 94%
  );
}

.bg-radiant-article {
  background: rgb(200, 255, 130);
  background: linear-gradient(
    0deg,
    rgba(200, 255, 130, 1) 0%,
    rgba(130, 255, 232, 1) 100%
  );
}
